# Ignore node_modules and .env in both backend and frontend
node_modules/
.env

# Ignore backend-specific folders
/backend/node_modules/
/backend/.env

# Ignore frontend-specific folders
/frontend/node_modules/
/frontend/.env

# Ignore log files
*.log

# Ignore OS and editor-specific files
.DS_Store
.vscode/
